C:/Users/josephh/Documents/GitHub/RP-Malcomb/data/scratch/rdhs.json
C:/Users/josephh/Documents/GitHub/RP-Malcomb/data/raw/private/rdhs.json
/Users/ariellelandau/Desktop/Senior Year/Open Source GIScience/github/alandaux.github.io/RP-Malcomb/data/raw/private/rdhs.json
/Users/ariellelandau/Desktop/Senior Year/Open Source GIScience/github/RP-Malcomb/data/raw/private/rdhs.json
